$m-b: 20px;
$m-b-mob: 16px;
$b-col: #7b8e77;
$i-col: #613544;
$fl-col: #ffd842;
$fl-f-col: #ff9242;
$or-col: #c3af47;
$fi-col: #30c530;
$se-col: #d87c5a;
$ad-col: #f8f9fa;

* {
    user-select: none;
}

body {
    background-image: url("/pic/back-mob.png");
    overflow-y: overlay;

    @media (min-width: 670px) {
        background-image: url("/pic/back.png");
    }

    .veil {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 20;
    }

    .up {
        position: fixed;
        width: 120px;
        height: 120px;
        border-radius: 80px;
        z-index: 19;
        background: #f97541bd;
        left: -60px;
        bottom: -60px;

        i {
            position: absolute;
            right: 25%;
            top: 23%;
            color: white;
        }
    }
}

.container-fluid {
    @media (min-width: 576px) {
        width: 670px !important;
    }
}

.desc {
    background: $b-col;
    color: white;
    padding: 5px 15px;
    border-radius: 17px 0 17px 0;
    font-size: 1.2em;
}

.button {
    cursor: pointer;
    font-family: 'Rubik';
}

.head {
    background: white;
    border-radius: 0 0 17px 17px;

    .left {
        .logo {
            margin: 5px 0px;
            z-index: 1;

            @media (min-width: 576px) {
                margin: 5px 15px;
            }
        }
    }

    .right {
        width: 40%;

        .take {
            img {
                position: absolute;
                height: 106px;
                right: 0px;
                left: auto;

                @media (min-width: 576px) {
                    height: 130px;
                    right: auto;
                }
            }
        }

        .buttonCont {
            z-index: 1;

            .button {
                background: $b-col;
                color: white;
                padding: 5px 15px;
                border-radius: 17px 0 17px 0;
                border-top: 1px solid white;
                border-left: 1px solid white;
            }
        }
    }
}

.about {
    display: none;
    background: $b-col;
    color: white;
    border-radius: 0 0 17px 17px;

    .aboutUs {
        opacity: 0;
        font-family: 'Spectral';
    }
}

.calculator {
    margin-top: $m-b-mob;

    @media (min-width: 576px) {
        margin-top: $m-b;
    }

    background: white;
    border-radius: 17px;

    .inter {
        position: absolute;
        width: 35px;
        height: 35px;
        background: orange;
        border: 1px solid #afafaf;
        cursor: pointer;
        border-radius: 3px;
        color: $i-col;
    }

    .inter.plus {
        background: #b58b99;
    }

    .inter.minus {
        background: #b58b99;
    }

    .body {
        width: 100%;
        margin: 0 15px;

        .sliderCalc#money {
            .move {
                background-image: url("/pic/hryvna401.png");
            }
        }

        .sliderCalc#time {
            .move {
                background-image: url("/pic/hryvna401.png");
            }
        }

        .sliderCalc {
            margin-top: 18px;

            .labelBox {
                .label {
                    display: inline-block;
                    background: white;
                    border: 1px dashed #43b500;
                    border-radius: 8px;
                    color: #19585f;
                    padding: 0px 6px;
                    margin-bottom: 12px;
                    font-family: 'Exo 2';
                    font-size: 1.5em;
                }
            }

            .handler {
                padding: 10px 0px;
                margin: 0 3px;

                .level {
                    background-color: #e8e8e8;
                    border: 1px solid #bfbfbf;
                    height: 11px;
                    border-radius: 5px;
                    margin: 0 17px 0 20px;
                    cursor: pointer;

                    //box-shadow: 1px -1px 5px 0px rgba(255, 255, 255, 0.45), inset 1px -1px 5px 0px rgba(0, 0, 0, 1);
                    .background {
                        height: 100%;
                        width: 0%;

                        //background: linear-gradient(to right, rgba(72, 220, 180, 1) 0%, rgba(40, 251, 160, 1) 100%);
                        //500 hryvna background: linear-gradient(to right, #86c1e3 0%, #ffe753 100%);
                        background: linear-gradient(to right, #b58b99 0%, #e2c9b3 100%);
                        border-radius: 5px 0 0 5px;
                    }
                }

                .level:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    background-color: black;

                    //width: calc(100% + 1px);
                    //height: calc(100% + 1px);
               
                }

                .move {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
    }

    .additional {
        background: $ad-col;
        width: 100%;
        margin-top: 20px;
        border-radius: 0 0 17px 17px;

        @media (min-width: 576px) {
            margin-top: 30px;
        }

        border-top: 2px dashed #80808063;
        padding: 8px 0 7px 0;

        .inAdd {
            width: 300px;
            cursor: pointer;
            font-family: 'Didact Gothic';
            width: 300px;
            cursor: pointer;
            font-family: 'Didact Gothic';
            font-size: 1.3em;
            font-weight: 600;
            letter-spacing: 0.06em;
            color: #21595f;
            padding: 0 10px;

            .first {
                #check {
                    border: 3px solid #c5a0a1;
                    border-radius: 5px;
                    padding: 2px;
                    font-size: 0.8em;
                    background: transparent;

                    i {
                        color: $ad-col;
                    }
                }

                .ch {
                    background: #c5a0a1 !important;
                }

                #caption {
                    margin-left: 4px;
                }
            }

            .limit {
                border: 3px solid grey;
                padding: 0 0 0 10px;
                border-radius: 20px;
                background: $ad-col;
                z-index: 4;

                #down {
                    background: grey;
                    color: $ad-col;
                    padding: 0px 8px 6px 10px;
                    border-radius: 0 19px 20px 0;
                    margin: -2px -1px -2px 0;
                }

                #caption {
                    margin-right: 6px;
                }
            }

            .list {
                position: absolute;
                background: white;
                border-right: 3px solid grey;
                border-bottom: 3px solid grey;
                border-left: 3px solid grey;
                background: linear-gradient(140deg, #f4c408 30%, #f48808 62%);
                border-radius: 0 0 17px 17px;
                box-shadow: 0 0 1px 1px #f8f9fa;
                font-family: Rubik;
                font-size: 0.9em;
                display: none;
                z-index: 3;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 20px 0 0;
                    cursor: pointer;

                    li {
                        border-bottom: 1px solid grey;
                        padding: 3px 6px;
                    }

                    li:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.offers {
    background: white;
    margin-top: $m-b-mob;
    border-radius: 17px;
    padding-bottom: 35px;

    @media (min-width: 576px) {
        margin-top: $m-b;
    }

    .desc {
        margin-left: 0;
    }

    .no-prop {
        margin-top: 10px;

        .text {
            text-align: center;
            font-size: 1.3em;
            letter-spacing: 2px;
            line-height: 26px;
            font-weight: 300;
            color: #bf1127;
        }
    }

    .offer {
        width: 100%;
        background: #f9f9f9;
        margin: 23px 10px 0 6px;

        @media (min-width: 576px) {
            margin: 30px 22px 0 18px;
        }

        border: 1px solid #ddc2b0;
        border-radius: 17px 0;
        box-shadow: 4px 4px #dfc6b1;

        .left {
            border-radius: 17px 0;
            background: white;

            .offerLogo {
                text-align: center;
                padding: 0 3px;
            }
        }

        .right {
            width: 100%;
            padding-left: 8px;

            .label {
                overflow: hidden;

                .title {
                    h1 {
                        margin: 0 !important;
                        font-family: 'Didact Gothic';
                        color: #e2906f;
                        font-weight: 600;
                        font-size: 1.3em;
                        letter-spacing: 1px;
                        white-space: nowrap;

                        @media (min-width: 576px) {
                            font-size: 1.4em;
                        }
                    }
                }
            }

            .info {
                .condition {
                    width: 100%;

                    .soul {
                        height: 100%;

                        .labelStatus {
                            font-family: 'Spectral';
                            font-weight: 600;
                            font-size: 1.1em;
                        }

                        .labelPerc {
                            font-family: 'Exo 2';

                            .inLabel {
                                text-align: center;
                            }
                        }

                        .labelAmount {
                            font-family: 'Exo 2';
                            font-weight: 600;
                            font-size: 1.1em;

                            @media (min-width: 576px) {
                                font-size: 1.3em;
                            }
                        }
                    }
                }

                .condition#first {
                    border-right: 1px dotted #ffc5c5;

                    .inLabel {
                        color: $fi-col;
                    }
                }

                .condition#second {
                    .inLabel {
                        color: $se-col;
                    }
                }

                .condition#ordinary {
                    .inLabel {
                        color: $or-col;
                    }
                }
            }

            .forButton {
                margin-top: 8px;

                .button {
                    background: grey;
                }
            }
        }

        .flag {
            position: absolute;
        }

        .flag {
            .label {
                background: $fl-col;
                font-family: 'Exo 2';
                font-weight: 600;
                font-size: 1.1em;
                padding: 2px;

                .rightCorner, .leftCorner {
                    border-color: transparent;
                    position: absolute;
                    border-style: solid;
                    border-bottom-width: 6px;
                    border-top-width: 0;
                    bottom: -6px;
                }

                .rightCorner {
                    left: 0;
                    border-left-color: $fl-col;
                }

                .leftCorner {
                    right: 0;
                    border-right-color: $fl-col;
                }
            }
        }

        .flag::after {
            position: absolute;
            content: '';
            width: calc(100% + 2px);
            height: 4px;
            top: -4px;
            left: -2px;
            z-index: 1;
            background: $fl-col;
            border-radius: 0 2px 0 0;
        }

        .flag::before {
            position: absolute;
            content: '';
            width: 4px;
            height: 4px;
            top: -4px;
            left: -4px;
            z-index: 2;
            background: $fl-f-col;
            border-radius: 2px 2px 0 0;
        }
    }
}

.links {
    font-family: 'PT Sans';
    margin-top: 25px;

    a {
        color: #d08d0f;
        text-decoration: none;
        background-color: #88fff382;
        margin: 3px 1.5px 0;
        padding: 2px 6px;
        border-radius: 3px;
        font-size: 1.1em;
    }
}

.footer {
    text-align: center;
    font-family: "Rubik";
    font-size: 0.8em;
    color: #053300;
    margin: 30px 0 0;
    width: 100%;
    background: #0d800033;
}