* {
    user-select: none;
}

.container-fluid {
    @media (min-width: 576px) {
        width: 670px !important;
    }
}

h1 {
    margin: 0 !important;
    font-size: 1em !important;
}

.button {
    cursor: pointer;
    font-family: 'Rubik';
}

.head {
    background-image: url("/pic/headerOp.png");
    background-size: cover;

    .right {
        width: 40%;

        .stars {
            img {
                width: 15px;
            }
        }

        .buttonCont {
            .button {
                background: #ff877a;
                color: white;
                padding: 5px 15px;
                border-radius: 17px 0 0;
            }
        }
    }
}

.about {
    display: none;
    background: #ff877a;
    color: white;

    .aboutUs {
        opacity: 0;
        font-family: 'Spectral';
    }
}

.calculator {
    background: aliceblue;

    .inter {
        position: absolute;
        width: 35px;
        height: 35px;
        background: orange;
        border: 1px solid brown;
        cursor: pointer;
    }

    .body {
        width: 100%;

        .sliderCalc#money {
            .move {
                background-image: url("/pic/hryvna40.png");
            }
        }

        .sliderCalc#time {
            .move {
                background-image: url("/pic/hryvna40.png");
            }
        }

        .sliderCalc {
            margin-top: 15px;

            .labelBox {
                .label {
                    display: inline-block;
                    background: burlywood;
                    margin-bottom: 12px;
                    font-family: 'Exo 2';
                    font-size: 1.5em;
                }
            }

            .handler {
                background: bisque;
                padding: 10px 0px;
                margin: 0 3px;

                .level {
                    background-color: #009bbb;
                    border: 1px solid #94ecff;
                    height: 9px;
                    border-radius: 5px;
                    margin: 0 20px;
                    cursor: pointer;
                    box-shadow: 1px -1px 5px 0px rgba(255, 255, 255, 0.45), inset 1px -1px 5px 0px rgba(0, 0, 0, 1);
                }

                .level:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    background-color: black;

                    //width: calc(100% + 1px);
                    //height: calc(100% + 1px);
               
                }

                .move {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}

.offers {
    background: aliceblue;
    margin-top: 20px;

    .offer {
        width: 100%;
        background: #bdf5db;
        margin-top: 10px;

        .right {
            width: 100%;

            .label {
                .title {
                    font-family: 'Sawarabi Gothic';
                }
            }

            .info {
                .condition {
                    width: 100%;

                    .soul {
                        .labelStatus {
                            font-family: 'Spectral';
                        }

                        .labelPerc {
                            font-family: 'Exo 2';
                        }

                        .labelAmount {
                            font-family: 'Exo 2';
                        }
                    }
                }

                .condition#first {
                    border-right: 1px dotted #ffc5c5;
                }
            }

            .forButton {
                .button {
                    background: grey;
                }
            }
        }

        .flag {
            position: absolute;
        }

        .flag {
            .label {
                background: pink;
                font-family: 'Exo 2';

                .rightCorner, .leftCorner {
                    border-color: transparent;
                    position: absolute;
                    border-style: solid;
                    border-bottom-width: 4px;
                    border-top-width: 0;
                }

                .rightCorner {
                    left: 0;
                    border-left-color: pink;
                }

                .leftCorner {
                    right: 0;
                    border-right-color: pink;
                }
            }
        }

        .flag::after {
            position: absolute;
            content: '';
            width: calc(100% + 2px);
            height: 4px;
            top: -4px;
            left: -2px;
            z-index: 1;
            background: pink;
            border-radius: 0 2px 0 0;
        }

        .flag::before {
            position: absolute;
            content: '';
            width: 4px;
            height: 4px;
            top: -4px;
            left: -4px;
            z-index: 2;
            background: orange;
            border-radius: 2px 2px 0 0;
        }
    }
}

.links {
    font-family: 'PT Sans';
}

.footer {
    text-align: center;
    font-family: "Rubik";
}