* {
  user-select: none; }

body {
  background-image: url("/pic/back-mob.png");
  overflow: hidden; }
  @media (min-width: 670px) {
    body {
      background-image: url("/pic/back.png"); } }
  body .veil {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20; }
  body .up {
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 80px;
    z-index: 19;
    background: #f97541bd;
    left: -60px;
    bottom: -60px; }
    body .up i {
      position: absolute;
      right: 25%;
      top: 23%;
      color: white; }

@media (min-width: 576px) {
  .container-fluid {
    width: 670px !important; } }

.desc {
  background: #7b8e77;
  color: white;
  padding: 5px 15px;
  border-radius: 17px 0 17px 0;
  font-size: 1.2em; }

.button {
  cursor: pointer;
  font-family: 'Rubik'; }

.head {
  background: white;
  border-radius: 0 0 17px 17px; }
  .head .left .logo {
    margin: 5px 0px;
    z-index: 1; }
    @media (min-width: 576px) {
      .head .left .logo {
        margin: 5px 15px; } }
  .head .right {
    width: 40%; }
    .head .right .take img {
      position: absolute;
      height: 106px;
      right: 0px;
      left: auto; }
      @media (min-width: 576px) {
        .head .right .take img {
          height: 130px;
          right: auto; } }
    .head .right .buttonCont {
      z-index: 1; }
      .head .right .buttonCont .button {
        background: #7b8e77;
        color: white;
        padding: 5px 15px;
        border-radius: 17px 0 17px 0;
        border-top: 1px solid white;
        border-left: 1px solid white; }

.about {
  display: none;
  background: #7b8e77;
  color: white;
  border-radius: 0 0 17px 17px; }
  .about .aboutUs {
    opacity: 0;
    font-family: 'Spectral';
    padding: 10px 10px 0;
    text-indent: 17px;
    line-height: 25px;
    font-size: 1em;
    letter-spacing: 0.6px; }
    @media (min-width: 576px) {
      .about .aboutUs {
        font-size: 1.1em; } }
    .about .aboutUs span {
      color: #f4c408; }

.calculator {
  margin-top: 16px;
  background: white;
  border-radius: 17px; }
  @media (min-width: 576px) {
    .calculator {
      margin-top: 20px; } }
  .calculator .inter {
    position: absolute;
    width: 35px;
    height: 35px;
    background: orange;
    border: 1px solid #afafaf;
    cursor: pointer;
    border-radius: 3px;
    color: #613544; }
  .calculator .inter.plus {
    background: #b58b99; }
  .calculator .inter.minus {
    background: #b58b99; }
  .calculator .body {
    width: 100%;
    margin: 0 15px; }
    .calculator .body .sliderCalc#money .move {
      background-image: url("/pic/hryvna401.png"); }
    .calculator .body .sliderCalc#time .move {
      background-image: url("/pic/hryvna401.png"); }
    .calculator .body .sliderCalc {
      margin-top: 18px; }
      .calculator .body .sliderCalc .labelBox .label {
        display: inline-block;
        background: white;
        border: 1px dashed #43b500;
        border-radius: 8px;
        color: #19585f;
        padding: 0px 6px;
        margin-bottom: 12px;
        font-family: 'Exo 2';
        font-size: 1.5em; }
      .calculator .body .sliderCalc .handler {
        padding: 10px 0px;
        margin: 0 3px; }
        .calculator .body .sliderCalc .handler .level {
          background-color: #e8e8e8;
          border: 1px solid #bfbfbf;
          height: 11px;
          border-radius: 5px;
          margin: 0 17px 0 20px;
          cursor: pointer; }
          .calculator .body .sliderCalc .handler .level .background {
            height: 100%;
            width: 0%;
            background: linear-gradient(to right, #b58b99 0%, #e2c9b3 100%);
            border-radius: 5px 0 0 5px; }
        .calculator .body .sliderCalc .handler .level:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          background-color: black; }
        .calculator .body .sliderCalc .handler .move {
          position: absolute;
          height: 40px;
          width: 40px;
          cursor: pointer; }
  .calculator .additional {
    background: #f8f9fa;
    width: 100%;
    margin-top: 20px;
    border-radius: 0 0 17px 17px;
    border-top: 2px dashed #80808063;
    padding: 8px 0 7px 0; }
    @media (min-width: 576px) {
      .calculator .additional {
        margin-top: 30px; } }
    .calculator .additional .inAdd {
      width: 300px;
      cursor: pointer;
      font-family: 'Didact Gothic';
      width: 300px;
      cursor: pointer;
      font-family: 'Didact Gothic';
      font-size: 1.3em;
      font-weight: 600;
      letter-spacing: 0.06em;
      color: #21595f;
      padding: 0 10px; }
      .calculator .additional .inAdd .first #check {
        border: 3px solid #c5a0a1;
        border-radius: 5px;
        padding: 2px;
        font-size: 0.8em;
        background: transparent; }
        .calculator .additional .inAdd .first #check i {
          color: #f8f9fa; }
      .calculator .additional .inAdd .first .ch {
        background: #c5a0a1 !important; }
      .calculator .additional .inAdd .first #caption {
        margin-left: 4px; }
      .calculator .additional .inAdd .promo {
        opacity: 0; }
        .calculator .additional .inAdd .promo #check {
          border: 3px solid #ffbb40;
          border-radius: 5px;
          padding: 2px;
          font-size: 0.8em;
          background: transparent; }
          .calculator .additional .inAdd .promo #check i {
            color: #f8f9fa; }
        .calculator .additional .inAdd .promo .ch {
          background: #ffbb40 !important; }
        .calculator .additional .inAdd .promo #caption {
          margin-left: 4px; }
      .calculator .additional .inAdd .limit {
        border: 3px solid grey;
        padding: 0 0 0 10px;
        border-radius: 20px;
        background: #f8f9fa;
        z-index: 4; }
        .calculator .additional .inAdd .limit #down {
          background: grey;
          color: #f8f9fa;
          padding: 0px 8px 6px 10px;
          border-radius: 0 19px 20px 0;
          margin: -2px -1px -2px 0; }
        .calculator .additional .inAdd .limit #caption {
          margin-right: 6px; }
      .calculator .additional .inAdd .list {
        position: absolute;
        background: white;
        border-right: 3px solid grey;
        border-bottom: 3px solid grey;
        border-left: 3px solid grey;
        background: linear-gradient(140deg, #f4c408 30%, #f48808 62%);
        border-radius: 0 0 17px 17px;
        box-shadow: 0 0 1px 1px #f8f9fa;
        font-family: Rubik;
        font-size: 0.9em;
        display: none;
        z-index: 3; }
        .calculator .additional .inAdd .list ul {
          list-style: none;
          padding: 0;
          margin: 20px 0 0;
          cursor: pointer; }
          .calculator .additional .inAdd .list ul li {
            border-bottom: 1px solid grey;
            padding: 3px 6px; }
          .calculator .additional .inAdd .list ul li:last-child {
            border-bottom: none; }

.offers {
  background: white;
  margin-top: 16px;
  border-radius: 17px;
  padding-bottom: 35px; }
  @media (min-width: 576px) {
    .offers {
      margin-top: 20px; } }
  .offers .desc {
    margin-left: 0; }
  .offers .no-prop {
    margin-top: 10px; }
    .offers .no-prop .text {
      text-align: center;
      font-size: 1.3em;
      letter-spacing: 2px;
      line-height: 26px;
      font-weight: 300;
      color: #bf1127; }
  .offers .offer {
    width: 100%;
    background: #f9f9f9;
    margin: 23px 10px 0 6px;
    border: 1px solid #ddc2b0;
    border-radius: 17px 0;
    box-shadow: 4px 4px #dfc6b1; }
    @media (min-width: 576px) {
      .offers .offer {
        margin: 30px 22px 0 18px; } }
    .offers .offer .left {
      border-radius: 17px 0;
      background: white; }
      .offers .offer .left .offerLogo {
        text-align: center;
        padding: 0 3px; }
    .offers .offer .right {
      width: 100%;
      padding-left: 8px; }
      .offers .offer .right .label {
        overflow: hidden; }
        .offers .offer .right .label .title h1 {
          margin: 0 !important;
          font-family: 'Didact Gothic';
          color: #e2906f;
          font-weight: 600;
          font-size: 1.3em;
          letter-spacing: 1px;
          white-space: nowrap; }
          @media (min-width: 576px) {
            .offers .offer .right .label .title h1 {
              font-size: 1.4em; } }
      .offers .offer .right .info .condition {
        width: 100%; }
        .offers .offer .right .info .condition .soul {
          height: 100%; }
          .offers .offer .right .info .condition .soul .labelStatus {
            font-family: 'Spectral';
            font-weight: 600;
            font-size: 1.1em; }
          .offers .offer .right .info .condition .soul .labelPerc {
            font-family: 'Exo 2'; }
            .offers .offer .right .info .condition .soul .labelPerc .inLabel {
              text-align: center; }
          .offers .offer .right .info .condition .soul .labelAmount {
            font-family: 'Exo 2';
            font-weight: 600;
            font-size: 1.1em; }
            @media (min-width: 576px) {
              .offers .offer .right .info .condition .soul .labelAmount {
                font-size: 1.3em; } }
      .offers .offer .right .info .condition#first {
        border-right: 1px dotted #ffc5c5; }
        .offers .offer .right .info .condition#first .inLabel {
          color: #30c530; }
      .offers .offer .right .info .condition#ordinary .inLabel, .offers .offer .right .info .condition#second .inLabel {
        color: #c3af47; }
      .offers .offer .right .forButton {
        margin-top: 8px; }
        .offers .offer .right .forButton .button {
          background: grey; }
        .offers .offer .right .forButton #promocode {
          background: orange; }
    .offers .offer .flag {
      position: absolute; }
    .offers .offer .flag .label {
      background: #ffd842;
      font-family: 'Exo 2';
      font-weight: 600;
      font-size: 1.1em;
      padding: 2px; }
      .offers .offer .flag .label .rightCorner, .offers .offer .flag .label .leftCorner {
        border-color: transparent;
        position: absolute;
        border-style: solid;
        border-bottom-width: 6px;
        border-top-width: 0;
        bottom: -6px; }
      .offers .offer .flag .label .rightCorner {
        left: 0;
        border-left-color: #ffd842; }
      .offers .offer .flag .label .leftCorner {
        right: 0;
        border-right-color: #ffd842; }
    .offers .offer .flag::after {
      position: absolute;
      content: '';
      width: calc(100% + 2px);
      height: 4px;
      top: -4px;
      left: -2px;
      z-index: 1;
      background: #ffd842;
      border-radius: 0 2px 0 0; }
    .offers .offer .flag::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      top: -4px;
      left: -4px;
      z-index: 2;
      background: #ff9242;
      border-radius: 2px 2px 0 0; }

.links {
  font-family: 'PT Sans';
  margin-top: 25px; }
  .links a {
    color: #d08d0f;
    text-decoration: none;
    background-color: #88fff382;
    margin: 3px 1.5px 0;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 1.1em; }

.footer {
  text-align: center;
  font-family: "Rubik";
  font-size: 0.8em;
  color: #053300;
  margin: 30px 0 0;
  width: 100%;
  background: #0d800033; }

/*# sourceMappingURL=toxedo.css.map */
