* {
  user-select: none; }

@media (min-width: 576px) {
  .container-fluid {
    width: 670px !important; } }

h1 {
  margin: 0 !important;
  font-size: 1em !important; }

.button {
  cursor: pointer;
  font-family: 'Rubik'; }

.head {
  background-image: url("/pic/headerOp.png");
  background-size: cover; }
  .head .right {
    width: 40%; }
    .head .right .stars img {
      width: 15px; }
    .head .right .buttonCont .button {
      background: #ff877a;
      color: white;
      padding: 5px 15px;
      border-radius: 17px 0 0; }

.about {
  display: none;
  background: #ff877a;
  color: white; }
  .about .aboutUs {
    opacity: 0;
    font-family: 'Spectral'; }

.calculator {
  background: aliceblue;
  padding: 0 5px; }
  .calculator .inter {
    position: absolute;
    width: 35px;
    height: 35px;
    background: orange;
    border: 1px solid #afafaf;
    cursor: pointer;
    border-radius: 3px; }
  .calculator .inter.plus {
    background: #28fba1; }
  .calculator .inter.minus {
    background: #48dcb5; }
  .calculator .body {
    width: 100%; }
    .calculator .body .sliderCalc#money .move {
      background-image: url("/pic/hryvna40.png"); }
    .calculator .body .sliderCalc#time .move {
      background-image: url("/pic/hryvna40.png"); }
    .calculator .body .sliderCalc {
      margin-top: 18px; }
      .calculator .body .sliderCalc .labelBox .label {
        display: inline-block;
        background: white;
        border: 1px dashed #43b500;
        border-radius: 8px;
        color: #19585f;
        padding: 0px 6px;
        margin-bottom: 12px;
        font-family: 'Exo 2';
        font-size: 1.5em; }
      .calculator .body .sliderCalc .handler {
        padding: 10px 0px;
        margin: 0 3px; }
        .calculator .body .sliderCalc .handler .level {
          background-color: #b5b5b5;
          border: 1px solid #94ecff;
          height: 9px;
          border-radius: 5px;
          margin: 0 17px 0 20px;
          cursor: pointer; }
          .calculator .body .sliderCalc .handler .level .background {
            height: 100%;
            width: 0%;
            background: linear-gradient(to right, #48dcb4 0%, #28fba0 100%);
            border-radius: 5px 0 0 5px; }
        .calculator .body .sliderCalc .handler .level:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          background-color: black; }
        .calculator .body .sliderCalc .handler .move {
          position: absolute;
          height: 40px;
          width: 40px;
          cursor: pointer; }

.offers {
  background: aliceblue;
  margin-top: 20px; }
  .offers .offer {
    width: 100%;
    background: #bdf5db;
    margin-top: 10px; }
    .offers .offer .right {
      width: 100%; }
      .offers .offer .right .label .title {
        font-family: 'Sawarabi Gothic'; }
      .offers .offer .right .info .condition {
        width: 100%; }
        .offers .offer .right .info .condition .soul .labelStatus {
          font-family: 'Spectral'; }
        .offers .offer .right .info .condition .soul .labelPerc {
          font-family: 'Exo 2'; }
        .offers .offer .right .info .condition .soul .labelAmount {
          font-family: 'Exo 2'; }
      .offers .offer .right .info .condition#first {
        border-right: 1px dotted #ffc5c5; }
      .offers .offer .right .forButton .button {
        background: grey; }
    .offers .offer .flag {
      position: absolute; }
    .offers .offer .flag .label {
      background: pink;
      font-family: 'Exo 2'; }
      .offers .offer .flag .label .rightCorner, .offers .offer .flag .label .leftCorner {
        border-color: transparent;
        position: absolute;
        border-style: solid;
        border-bottom-width: 4px;
        border-top-width: 0; }
      .offers .offer .flag .label .rightCorner {
        left: 0;
        border-left-color: pink; }
      .offers .offer .flag .label .leftCorner {
        right: 0;
        border-right-color: pink; }
    .offers .offer .flag::after {
      position: absolute;
      content: '';
      width: calc(100% + 2px);
      height: 4px;
      top: -4px;
      left: -2px;
      z-index: 1;
      background: pink;
      border-radius: 0 2px 0 0; }
    .offers .offer .flag::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      top: -4px;
      left: -4px;
      z-index: 2;
      background: orange;
      border-radius: 2px 2px 0 0; }

.links {
  font-family: 'PT Sans'; }

.footer {
  text-align: center;
  font-family: "Rubik"; }

/*# sourceMappingURL=toxedo.css.map */
